.box{
    background-color: whitesmoke;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    width:500px;
    margin-left: auto;
    margin-right: auto;
    border-radius:1rem;
    align-items: center;
}